/*Variables*/
:root {
	/*Background color*/
	--mainColor:#d3d0cb;
	--secondaryColor:#fff;

	/*Border color*/

	--borderColor:#c1c1c1;

	/*Text color*/
	--titleText:#191923;
	--mainText:#191923;
	--secondaryText:#303633;
	--linkText:#fff;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;

	--buttonColor:black;

	--bgImage:url("/images/light.jpg");

	--profImage:url("/images/prof-light.jpg");

	--shadowBox: 0,0,0,0.75;
}

[data-theme="dark"] {
    /*Background color*/
	--mainColor:#d2ff28;
	--secondaryColor:#080f0f;

	/*Border color*/

	--borderColor:#c1c1c1;

	/*Text color*/
	--titleText:#d2ff28;
	--mainText:#d2ff28;
	--secondaryText:#7e9181;
	--linkText:#d2ff28;

	--themeDotBorder:#24292e;

	--previewBg:#000;
	--previewShadow:#f0ead6;

	--buttonColor:black;

	--bgImage:url("/images/dark.jpg");

	--profImage:url("/images/prof-dark.jpg");

	--shadowBox: 210,255,40,1;
}


html, body {
	padding: 0;
	margin: 0;
}

body * {
	transition: 0.3s;
}

h1{
	color: var(--titleText);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;=
}

h2, h3, h4, h5, h6, strong {
	color: var(--mainText);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

p, a, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Inter', sans-serif;
}

p {
	font-size: 25px;
}

a{
	text-decoration: none;
	color: #17a2b8
}

ul{
	list-style: none;
}

h1 {font-size: 56px}
h2 {font-size: 36px}
h3 {font-size: 36px}
h4 {font-size: 24px}
h5 {font-size: 20px}
h6 {font-size: 16px}

/*Background color*/

.s1 {
	background-image: var(--bgImage);
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

#header-wrapper{
	display: flex;
	justify-content: space-between;
}

.title-wrapper{
	display: grid;
	align-content: center;
	min-height: 10em;
}

.title-wrapper h1{
	font-size: 100px;
	line-height: 90px;
}

.intro-wrapper{
	background-color: var(--secondaryColor);
	border-radius: 5px 5px 5px 0;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}

.nav-wrapper{
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid var(--borderColor);
	grid-area: nav-wrapper;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

.left-column{
	padding-top: 50px;
	padding-bottom: 50px;
	grid-area: left-column;
	
	background-image: var(--profImage);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;	
	object-fit: cover;
}

/*Toggle switch*/
.theme-switch-wrapper {
  margin: 10px 0;
}

.theme-switch {
  display: inline-block;
  height:44px;
  position: relative;
  width: 70px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #000;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 36px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 30px;
}

input:checked + .slider {
  background-color: #d2ff28;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #000;
}

.slider.round {
  border-radius: 0px;
}

.slider.round:before {
  border-radius: 0%;
}

/*end switch*/

.right-column{
	grid-area: right-column;
	display: grid;
	justify-content: center;
	align-items: center;
	

	padding-top: 50px;
	padding-bottom: 50px;
	
}

#preview {
	margin: 0 60px;
	/*border: 1.5px solid #17a2b8; */
	background-color: var(--previewBg);
	padding: 40px;
	position: relative;
	border-radius: 3px;

	-webkit-box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.3);
	box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.3);
}

#corner-tl{
	top: -5px;
	left: -5px;
}

#corner-tr{
	top: -5px;
	right: -5px;
}


#corner-br{
	bottom: -5px;
	right: -5px;
}


#corner-bl{
	bottom: -5px;
	left: -5px;
}

.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap: 100px;
}

#skills{
	display: flex;
	justify-content: space-evenly;
	border-radius: 10px;
	background-color: var(--previewShadow);
}

.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post:hover{
		-webkit-box-shadow: 0px -3px 23px -2px rgba(var(--shadowBox));
		-moz-box-shadow: 0px -3px 23px -2px rgba(var(--shadowBox));
		box-shadow: 0px -3px 23px -2px rgba(var(--shadowBox));
}

.thumbnail{
	display: block;
	width: 100%;
	height: 210px;
	object-fit: cover;
}

.post-preview {
	background-color: #fff;
	padding: 15px;
}

.post-title{
	color: black;
	margin: 0;
}

.post-intro{
	color: #4b5156;
	font-size: 16px;
}

.post .post-preview a{
	color: var(--linkText);
	padding: 7px;
	background-color: #000;
	border-radius: 3px;
}

.post .post-preview a:hover{
	background-color: #383d3b;
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}

















@media screen and (max-width: 1200px) { 
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px) { 
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
	;
	}

	.left-column{
		height: 285px;
	}

	.right-column{
		justify-content: center;
	}

	.title-wrapper h1 {
    font-size: 85px;
    line-height: 71px;
}
}

@media screen and (max-width: 600px) {
	#header-wrapper{
	display: flex;
	flex-direction: column;
	}

	#preview {
	margin: 0 30px;
	}
}

